<p id="notice"><%= notice %></p>

<h1>Listing Golfers</h1>
<%= link_to 'New Golfer', new_golfer_path %>
<div class="columhead">
  <table>
    <thead>
      <tr>
        <td><p>Name</p></td>
        <td></td>
        <td><p>Hometown</p></td>
       
      </tr>
    </thead>
    <tbody>
      <% @golfers.each do |golfer| %>
        <tr>        
          <td><%= golfer.name  %></td>
          <td></td>
          <td><%= golfer.hometown%></td>
        
          <td><%= link_to 'Show', golfer %></td>
          <td><%= link_to 'Edit', edit_golfer_path(golfer) %></td>
          <td><%= link_to 'Destroy', golfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %> 
    </tbody>
  </table>

</div>
<hr>
<br>
